<div class="inputs">

<h2>Complete the fields below to build your story:</h2>

Name: <input type="text" ng-model="name"> <br><br>
Noun: <input type="text" ng-model="noun"> <br><br>
Month: <input type="text" ng-model="month"> <br><br>
Animal: <input type="text" ng-model="animal"> <br><br>
Adjective: <input type="text" ng-model="adjective1"> <br><br>
Adjective: <input type="text" ng-model="adjective2"> <br><br>
Number: <input type="number" ng-model="number1"> <br><br>
Number: <input type="number" ng-model="number2"><br><br>
<button type="button" ng-click="sendInfo(name, noun, month,animal,adjective1,adjective2,number1,number2)"><a href="#/seeStory">Get Story</a></button>
</div>
